{
  "root": true,
  "extends": "react-app",
  "rules": {
    "quotes": ["error", "single"],
    "prefer-arrow-callback": ["error"],
    "func-style": ["error", "expression"]
  },
  "ignorePatterns": ["serviceWorker.ts"]
}
